<nav class="ui menu">
    <header class="ui header item">
        <img class="ui massive image" src="https://cdn.glitch.com/26c2219b-f32e-4d68-b5cd-a3850c0ba9c7%2Fgymlogo.png?v=1599313039258">
  </header>
       
  <div class="right menu">
      <a id="memberDashboard" class="item" href="/member/{{member.id}}"> Dashboard  </a>
      <a id="settings" class="item" href="/settings/{{member.id}}/editmember"><i class="user icon"></i></a>
      <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>


  