<nav class="ui menu">
    <header class="ui header item">
        <img class="ui massive image" src="https://cdn.glitch.com/2d2fcb30-bfaf-4f5b-a82e-ba2d009461fc%2Fgymlogo.png?v=1599313216298">
    </header>
  </div>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
    <a id="about" class="item" href="/about">  About   </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
</script>