{{> welcomemenu id='about' }}

<div class="ui two column middle aligned grid basic segment">
<div class="column">
<section class="ui center aligned middle aligned segment">
   <h3>
    BMI Tracker
  </h3>
  <p>
    Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!
  </p>
</section>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/26c2219b-f32e-4d68-b5cd-a3850c0ba9c7%2FBMI.png?v=1599396084413">
  </div>