{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1>
    <font color = "blue">
    ICT PlayGym Assignment
      </font> 
  </h1>
   <p> Sign up or Log in </p>
</section>